@import "tailwindcss";
:root {
  --tropical-indigo: #8585ff;
  --periwinkle: #c2c2ff;
  --lavander: #ebebff;
  --eerie-black: #1f1f1f;
  --jet: #333333;
  color: var(--lavander);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: var(--lavander);
  background-color: var(--eerie-black);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--eerie-black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: var(--tropical-indigo);
  text-decoration: inherit;
}
a:hover {
  color: var(--periwinkle);
}
body {
  margin: 0;
}
