@import "tailwindcss";
:root {
  --tropical-indigo: #8585ff;
  --periwinkle: #c2c2ff;
  --lavander: #ebebff;
  --eerie-black: #1f1f1f;
  --jet: #333333;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: var(--lavander);
}
